#user
{
    margin-bottom: 8px;
}

#help_button
{
    box-sizing: border-box;
    padding-top: 45px;
    padding-left: 63px;
    float: right;
    right: 0px;
    position: absolute;
    width: 180px;
    height: 120px;
    font-size: 20px;
    color: white;
    background: #555;
}

#help_button:hover
{
    color: #555;
    background: white;
}

#new_login
{
    font-size: 15px;
    transition: 0s; /*Couteracts style for a elements in other stylesheet*/
}

#start_interview
{
    font-size: 25px;
    transition: .5s;
}

#start_interview:hover
{
    font-size: 28px;
    transition: .5s;
}

#content_container
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#left_container
{
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 20px;
    animation: list_fade_in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

#right_container
{
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 20px;
    animation: list_fade_in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}


/*Animation*/

@keyframes list_fade_in
{
    from
    {
        opacity: 0;
        margin-top: 0;
    }

    to
    {
        opacity: 1;
        margin-top: 20px;
    }

}

/** FOR SMALL SCREEN SIZES **/

@media only screen and (max-width: 800px){

    #content_container
    {
        width: 100%;
    }

    #left_container
    {
        float: none;
        width: 100%;
        height: auto;
    }


    #right_container
    {
        float: none;
        width: 100%;
        height: auto;
    }

}

@media only screen and (max-width: 470px)
{
    #help_button
    {
        width: 100%;
        padding-left: 45%;
        margin-top: 5px;
        margin-bottom: 20px;
        position: relative;
    }
}

