#sub_container
{
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-bottom: 100px;
    background: #888;
    overflow: auto;
}

#left_container
{
    box-sizing: border-box;
    float: left;
    width: 50%;
    border-right: 1px solid black;

}

#right_container
{
    float: left;
    width: 50%;
}

h3
{
    text-align: center;
    color: black;
    animation: fade_in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

#qid_form
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    animation: fade_in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

#submit_button_qid, #submit_button_assoc, #submit_button_newq, #submit_button_serv
{
    height: 35px;
    width: 180px;
    background: #00AFF0;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 15px;
}

#submit_button_qid:hover, #submit_button_assoc:hover, #submit_button_newq:hover, #submit_button_serv:hover
{
    color: #00AFF0;
    background: white;
    cursor: pointer;
}

#url_format
{
    color: #333;
    font-size: 15px;
}

#prompt, #criterion
{
    font-size: 20px;
    text-align: center;
}

#prompt
{
    margin-top: 50px;
}

#qid
{
    color: black;
    text-align: center;
}

.form_button
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    animation: fade_in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.remove
{
    height: 650px;
    overflow-y: scroll;
}

.remove::-webkit-scrollbar {
  /* Only works for Chrome and Safari */
  display: none;
}

#question_list
{
    height: auto;
    min-height: 500px;
    max-height: 800px;
    overflow: auto;
    bottom: 0px;
}

#value
{
    white-space: pre;
}

/*For "Select An Action" dropdown in addserv.html*/
.action
{
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;

}

.action:hover{
    cursor: pointer;
}

.shown
{
    text-align: center;
    margin-top: -80px;
    background: #555;
    border-radius: 10px;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity .5s ease, transform .5s ease;
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: top;
    -webkit-transition: opacity .5s ease, transform .5s ease;
    -ms-transform: scaleY(0);
    -ms-transform-origin: top;
    -moz-transform: scaleY(0);
    -moz-transform-origin: top;
    -moz-transition: opacity .5s ease, transform .5s ease;
}

.action:focus-within
{
    outline: none;
}

.action:focus-within > .shown
{
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -moz-transform: scaleY(1);
}

.arrow
{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

/** ANIMATIONS **/

@keyframes fade_in
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }

}


/* FOR SMALL SCREENS */
@media only screen and (max-width: 720px)
{
    #left_container
    {
        width: 100%;
    }

    #right_container
    {
        width: 100%;
        border-left: none;
        border-top: 1px solid black;
    }
}
