#sub_container
{
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-bottom: 100px;
    background: #888;
    overflow: auto;
}

#left_container
{
    box-sizing: border-box;
    float: left;
    width: 50%;
    border-right: 1px solid black;
}

#right_container
{
    float: left;
    width: 50%;
}

h3
{
    text-align: center;
    color: black;
}

#qid_form
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    animation: fade_in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

#submit_button_qid, #submit_button_assoc
{
    height: 35px;
    width: 180px;
    background: #00AFF0;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 15px;
}

#submit_button_qid:hover, #submit_button_assoc:hover
{
    color: #00AFF0;
    background: white;
    cursor: pointer;
}

#url_format
{
    color: #333;
    font-size: 15px;
}

#prompt
{
    font-size: 20px;
}

#qid
{
    color: black;
}

#newq
{
    box-sizing: border-box;
    padding-top: 7px;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 180px;
    background: #00AFF0;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 15px;
}

#newq:hover
{
    color: #00AFF0;
    background: white;
    cursor: pointer;
}

.remove
{
    height: 500px;
    overflow-y: scroll;
}

.remove::-webkit-scrollbar {
  /* Only works for Chrome and Safari */
  display: none;
}

/** ANIMATIONS **/

@keyframes fade_in
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }

}


/* FOR SMALL SCREENS */
@media only screen and (max-width: 720px)
{
    #left_container
    {
        width: 100%;
    }

    #right_container
    {
        width: 100%;
        border-left: none;
        border-top: 1px solid black;
    }
}
