*
{
    box-sizing: border-box;
}

#general
{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    animation: fade_content;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
}

#icon
{
    width: 16px;
    height: 16px;
}

#container
{
    height: auto;
    overflow: auto;
}

#interview_container, #service_container
{
    width: 100%;
    height: auto;
    overflow: auto;
    margin-bottom: 50px;
    animation: fade_content;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.heading
{
    padding-left: 10%;
    margin-top: 35px;
    margin-bottom: 15px;
}

.content
{
    padding-left: 10%;
    padding-right: 10%;
}


@keyframes fade_content{

    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }

}
