#top_bar
{
    position: relative;
    z-index: 100;
}

#left_container
{
    margin-top: -120px;
    float: left;
    width: 50%;
    height: 100vh;
    background: #888;
}

#left_title
{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    text-align: center;
    color: #00AFF0;
}

#right_container
{
    margin-top: -120px;
    float: left;
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
}

#right_container::-webkit-scrollbar {
  /* Only works for Chrome and Safari */
  display: none;
}

#right_title
{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    text-align: center;
    color: #00AFF0;
}

#result
{
    font-size: 20px;
    color: black;
}

#id
{
    color: black;
}

#result_form
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    animation: fade_in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

#horiz_bar
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
    animation: fade_in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

/** FOR SMALL SCREEN SIZES **/

@media only screen and (max-width: 800px){

    #left_container
    {
        float: none;
        width: 100%;
        height: auto;
        background: #888;
    }

    #left_title
    {
        margin-top: 120px;
        padding-top: 50px;
    }

    #right_container
    {
        float: none;
        width: 100%;
        height: auto;
    }

}

/*ANIMATIONS*/
@keyframes fade_in
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }

}
