body
{
    background: #AAA;
    color: #333;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.8; 
    
}

#container
{
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title
{
    margin-top: 35%;
    margin-bottom: 10%;
    font-weight: bold; 
    letter-spacing: 1px;
    color: #19396D;
    font-size: 2.5em;
    visibility: hidden;
}

#login
{
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    font-size: 1.5em;
}

#uname
{
    visibility: hidden;
}

#pw
{
    visibility: hidden;
}

p
{
    margin: 0;
    font-size: 18px;
    visibility: hidden;
}

input
{
    margin-bottom: 20%;
    background-color: #DDD;
    border-radius: 10px;
    border: none;
    height: 25px;
}


#submit_button
{
    height: 35px;
    width: 90px;
    background: #19396D;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 15px;
    visibility: hidden;
}

/** ANIMATIONS **/

@keyframes fade_and_slide_in
{
    from
    {
        opacity: 0;
        margin-left: -20%;
    }
    
    to
    {
        opacity: 1;
        margin-left: 0;
    }
    
}

.start_fade_and_slide_in
{
    animation: fade_and_slide_in;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}










/*FONTS
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Nunito Sans', sans-serif;


COLORS
#19396D
#AAA
#DDD
#333



*/
